---
import Icon from 'astro-icon';

type LinkList = {
	text: string;
	href: string;
	links?: LinkList;
}[] | {
	text: string;
	href?: string;
	links: LinkList;
}[];



const links: LinkList = [
  // {
  //   text: 'Pages',
  //   links: [
  //     {
  //       text: 'Features',
  //       href: '#',
  //     },
  //     {
  //       text: 'Pricing',
  //       href: '#',
  //     },
  //     {
  //       text: 'About us',
  //       href: '#',
  //     },
  //     {
  //       text: 'Contact',
  //       href: '#',
  //     },
  //     {
  //       text: 'Terms',
  //       href: getPermalink('/terms'),
  //     },
  //     {
  //       text: 'Privacy policy',
  //       href: getPermalink('/privacy'),
  //     },
  //   ],
  // },
  {
    text: 'Developer',
    href: 'https://www.roga.dev',
  },
];
---

{
	links.map(({ text, href, links }) => (
		<li class={links?.length ? 'dropdown' : ''}>
			{links?.length ? (
				<>
					<button class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out">
						{text} <Icon name="tabler:chevron-down" class="w-3.5 h-3.5 ml-0.5 hidden md:inline" />
					</button>
					<ul class="dropdown-menu rounded md:absolute pl-4 md:pl-0 md:hidden font-medium md:bg-white md:min-w-[200px] dark:md:bg-slate-800 drop-shadow-xl">
						{links.map(({ text: text2, href: href2 }) => (
							<li>
								<a
									class="first:rounded-t last:rounded-b md:hover:bg-gray-100 dark:hover:bg-gray-700 py-2 px-5 block whitespace-no-wrap"
									href={href2}
								>
									{text2}
								</a>
							</li>
						))}
					</ul>
				</>
			) : (
				<a
					class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
					href={href}
					target="_blank"
				>
					{text}
				</a>
			)}
		</li>
	))
}
